@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.bar{
    display: none;
}
.header-container{
    width: 100%;
    height: 75px;
    .header-cintent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        height: 75px;
    }
    .navbar{
        display: flex;
        align-items: center;
        li{
            margin: 0px 15px;
            &:last-child{
                margin-right: 0px;
            }
        }
        a{
            text-decoration: none;
            color: rgb(0, 0, 126);
            font-family: 'Outfit', sans-serif !important;
            font-weight: bold;
            font-size: 1.3rem;
        }
        .active{
            color: red;
        }
    }
    .website-logo{
        font-size: 2.5rem;
        color: rgb(0, 0, 116);
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
    .drop-down-menu{
        position: absolute;
        border: 1px solid rgb(233, 233, 233);
        box-shadow: 1px 1px 1px 1px rgb(233, 233, 233);
        background: white;
        margin-top: 10px;
        margin-left: -80px;
        display: none;
        li{
            margin: 15px 8px;
            a{
                font-size: 0.9rem;
                &:hover{
                    color: red;
                }
            }
        }
    }
}
.titles{
    font-size: 1.7rem;
    color: red;
}
.contact-form{
    width: 70%;
    margin: auto;
    margin-top: 6vw;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    p{
        margin-top: 20px;
        text-align: center;
    }
}
.link{
    color: blue;
    cursor: pointer;
}
.footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vw;
    background: rgb(7, 0, 39);
    p, a{
        margin: 18px 0px;
        color: white;
    }
}
.input-fields{
    width: 100%;
    margin-top: 30px !important;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 8px 0px;
    outline: none;
    padding-left: 5px;
    min-width: 250px;
}

.work-with-us{
    width: 70%;
    margin: auto;
    margin-top: 5vw;
}

.send-question-from-contacts{
    border: 2px solid rgb(0, 175, 0);
    border-radius: 15px;
    padding: 10px 65px;
    margin-top: 50px;
    font-size: 1.07rem;
    margin-left: 50%;
    transform: translateX(-50%);
    background: none;
    cursor: pointer;
    color: rgb(0, 175, 0);
    &:hover{
        background: rgb(0, 175, 0);
        color: white;
        transition: 0.5s;
    }
}