@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.header-container{
    width: 100%;
    height: 75px;
    .header-cintent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        height: 75px;
    }
    .navbar{
        display: flex;
        align-items: center;
        li{
            margin: 0px 15px;
            &:last-child{
                margin-right: 0px;
            }
        }
        a{
            text-decoration: none;
            color: rgb(0, 0, 126);
            font-family: 'Outfit', sans-serif !important;
            font-weight: bold;
            font-size: 1.3rem;
        }
        .active{
            color: red;
        }
    }
    .website-logo{
        font-size: 2.5rem;
        color: rgb(0, 0, 116);
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
    .drop-down-menu{
        position: absolute;
        border: 1px solid rgb(233, 233, 233);
        box-shadow: 1px 1px 1px 1px rgb(233, 233, 233);
        background: white;
        margin-top: 10px;
        margin-left: -80px;
        display: none;
        li{
            margin: 15px 8px;
            a{
                font-size: 0.9rem;
                &:hover{
                    color: red;
                }
            }
        }
    }
}
.baner-image-container{
    width: 100%;
    height: 600px;
    background-image: url('../images/baner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 0px 2px 2px gray;
    .baner-content{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 116, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    h1{
        color: white;
        font-size: 3.5rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 50px;
        text-align: center;
    }

    h3{
        color: white;
        font-size: 1.3rem;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
}
.titles{
    font-size: 1.7rem;
    color: red;
}
.services-container{
    width: 60%;
    margin: auto;
    margin-top: 8vw;
    .header-title-text{
        margin-top: 20px;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    .services-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        li{
            margin-top: 70px;
            width: 268px;
        }
    }
    .box-1{
        background: #ff4047;
    }
    .box-2{
        background: #ffac32;
    }
    .box-3{
        background: #1c3bac;
    }
    .box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 235px;
        margin-top: 40px;
        border-top-left-radius: 14px;
        border-bottom-right-radius: 14px;
    }
    .service-header-text{
        color: white;
        line-height: 25px;
        text-align: center;
        width: 75%;
        font-size: 0.9rem;
    }
    .service-image{
        width: 100%;
        height: 245px;
        background-position: center;
        background-size: cover;
        margin-top: 30px;
        border-radius: 14px;
        background-repeat: no-repeat;
    }
    .img-1{
        background-image: url('../images/box-1.webp');
    }
    .img-2{
        background-image: url('../images/box-2.webp');
    }
    .img-3{
        background-image: url('../images/box-3.webp');
    }
    .read-more-button{
        background: none;
        border: 2px solid white;
        border-radius: 20px;
        padding: 10px 25px;
        font-size: 1.03rem;
        color: white;
        cursor: pointer;
        &:hover{
            background: white;
            color: black;
            transition: 0.5s;
        }
    }
}
.join-revolution{
    width: 60%;
    margin: auto;
    margin-top: 12vw;
    .join-revolution-content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .img-side{
        width: 260px;
        height: 390px;
        background-image: url('../images/revolutions-baner.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .text-side{
        width: calc(100% - 500px);
    }
    p{
        margin: 15px;
        font-family: 'Montserrat', sans-serif;
        line-height: 22px;
    }
}
.our-services-benefits{
    width: 100%;
    margin-top: 7vw;
    height: 850px;
    background-image: url('../images/benefits-image.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .benefits-content{
        width: 75%;
        margin: auto;
    }
    .benefits-section-title{
        text-align: center;
        color: white;
        font-size: 2rem;
        padding-top: 5vw;
    }
    .benefits-section-description{
        text-align: center;
        width: 80%;
        color: white;
        margin: auto;
        line-height: 23px;
        margin-top: 35px;
    }
    .benefits-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 6vw;
        li{
            width: 300px;
            background: white;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
            margin-top: 25px;
            p{
                width: 80%;
                margin: auto;
                margin-top: 2vw;
                margin-bottom: 2vw;
                line-height: 25px;
                height: 265px;
            }
            h4{
                margin-top: 3vw;
            }
            &:first-child{
                background: #e6decb;
                h4{
                    color: #5376ed !important;
                }
            }
            &:last-child{
                background: #e6decb;
                h4{
                    color: #ff4556 !important;
                }
            }
        }
    }
    .benefit-title{
        font-size: 1.1rem;
        text-align: center;
        color: #ffb350;
    }
}
.work-with-us{
    width: 70%;
    margin: auto;
    margin-top: 8vw;
}
.form-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    .input-fields{
        width: 48%;
        margin-top: 30px !important;
        border: 1px solid gray;
        border-radius: 3px;
        font-size: 1.1rem;
        padding: 8px 0px;
        outline: none;
        padding-left: 5px;
        min-width: 250px;
    }
}
.send-form{
    border: 2px solid rgb(0, 175, 0);
    border-radius: 15px;
    padding: 10px 65px;
    margin-top: 50px;
    font-size: 1.07rem;
    background: none;
    cursor: pointer;
    color: rgb(0, 175, 0);
    &:hover{
        background: rgb(0, 175, 0);
        color: white;
        transition: 0.5s;
    }
}

.footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vw;
    background: rgb(7, 0, 39);
    p, a{
        margin: 18px 0px;
        color: white;
    }
}

.benefit-description{
    font-family: 'Montserrat', sans-serif;
}


@media(max-width: 660px){
    .header-title-text{
        text-align: center;
    }
}

@media(max-width: 1500px){
    .join-revolution{
        width: 90%;
    }
    .join-revolution .text-side{
        width: calc(100% - 330px);
    }
}

@media(max-width: 750px){
    .join-revolution .text-side{
        width: 100%;
    }
    .img-side{
        margin: auto;
        margin-top: 50px;
    }
    .titles{
        text-align: center;
    }
}

@media(max-width: 749px){
    .form-container .input-fields{
        width: 100%;
    }
}

@media(max-width: 1214px){
    .our-services-benefits{
        height: 1100px;
    }
}

@media(max-width: 814px){
    .our-services-benefits{
        height: 1400px;
    }
}

.bar{
    display: none;
}